.my_git
.group_git
.vscode
entail2.egg-info
raw_data
data_proc
DNC
wsd_data
wsd_backup.zip

raw_data/oneshot_wikitext2/*.csv
raw_data/fewrel2/*.json
raw_data/fewrel_test/*.json
raw_data/absa/*
raw_data/glue/*
raw_data/gym/*
scripts/data
data
ckpt/*.ckpt

logs/*

**/__pycache__/ 